* {
    cursor: none;
}

.productdisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 170px;
    margin-top: 30px;
}

.cursor {
    background-color: transparent;
    height: 30px;
    width: 30px;
    border: black solid 1px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.productdisplay-left {
    display: flex;
    gap: 17px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 50px;
}
.productdisplay-color-list {
    display: flex;
    gap: 16px;
    

}


.productdisplay-img-list img {
    height: 10rem;
    max-width: 10rem;
    width: auto;
    transition: opacity 0.3s ease;
    background: none;
    cursor: pointer;
    

}
.productdisplay-color-list img {
    height: 50px;
    max-width: 70px;
    width: auto;
    transition: opacity 0.3s ease;
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.productdisplay-img {
    display: flex;
    margin-top: 50px;

}

.productdisplay-main-img {
    max-width: 500px;
    width: auto;
    height: 500px;
}

.productdisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-price {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-color h1 {
    margin-top: 55px;
    margin-bottom: 30px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-colors {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.colors{
    position: absolute;
    left: calc(100% + 1rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--secondary);
    padding: 0.4rem;
}
.colors .color-box{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.color-box:nth-child(1){
    background-color: #ff4d4d;
}
.color-box:nth-child(2){
    background-color: #e1b12c;
}
.color-box:nth-child(3){
    background-color: #ffaf40;
}
.color-box:nth-child(4){
    background-color: #ea2027;
}

// .cart{
// display: flex;
// margin-top: 5rem;
// }

.add{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    height: 48px;
    border-radius: 4px;
    width: 210px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    color: #fff;
    box-shadow: 0 6px 15px 0 rgba(16,39,112,.15);
    transition: all 250ms linear;
    text-decoration: none;
    margin-top: 50px;
  }

  .add:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    transition: background-color 250ms 300ms ease;
  }
  .add:hover{
    box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
    background-color: #000;
  }